<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temple bar pub quiz sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Temple bar pub quiz sign up</h1>
    <form action="/signup" method="post" novalidate>
        <label for="team_name">Team Name:</label>
        <input type="text" id="team_name" name="team_name" required><br><br>

        <p>By providing your e-mail address, you agree that it will be used for the purpose of the Temple Bar pub quiz, and only for matters relating to this. You can always withdraw your consent at any time.</p>

        <label for="e_mail">Contact e-mail:</label>
        <input type="text" id="e_mail" name="e_mail" required><br><br>
        
        <label for="name_1">Team member 1:</label>
        <input type="text" id="name_1" name="name_1" required><br><br>

        <label for="name_2">Team member 2:</label>
        <input type="text" id="name_2" name="name_2" required><br><br>

        <label for="name_3">Team memeber 3:</label>
        <input type="text" id="name_3" name="name_3" required><br><br>

        <label for="name_4">Team member 4:</label>
        <input type="text" id="name_4" name="name_4" required><br><br>

        <label for="name_5">Team member 5:</label>
        <input type="text" id="name_5" name="name_5"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
