<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temple bar pub quiz sign up</title>
</head>
<body>
    <h1>Temple bar pub quiz sign up</h1>
    <form action="/signup" method="post" novalidate>
        <label for="team_name">Team Name:</label>
        <input type="text" id="team_name" name="team_name" required><br><br>
        
        <label for="name_1">Name 1:</label>
        <input type="text" id="name_1" name="name_1" required><br><br>

        <label for="name_2">Name 2:</label>
        <input type="text" id="name_2" name="name_2" required><br><br>

        <label for="name_3">Name 3:</label>
        <input type="text" id="name_3" name="name_3" required><br><br>

        <label for="name_4">Name 4:</label>
        <input type="text" id="name_4" name="name_4" required><br><br>

        <label for="name_5">Name 5:</label>
        <input type="text" id="name_5" name="name_5"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
